{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
{% endblock %}
{% block before_body_close %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var streets = new L.TileLayer('http://{s}.tile.cloudmade.com/bcf2471ca35f48a6a4e28a704ba64c9c/998/256/{z}/{x}/{y}.png');
        var counties = new L.TileLayer('http://tiles/counties/{z}/{x}/{y}.png');
        var places = new L.TileLayer('http://tiles/places/{z}/{x}/{y}.png');
        var bb = {{ bbox }};
        var sw = new L.LatLng(bb[1], bb[0], true);
        var ne = new L.LatLng(bb[3], bb[2], true);
        var bbox = new L.LatLngBounds(sw,ne);
        var map = new L.Map('map');
	    map.addLayer(streets);
	    map.addLayer(counties);
        map.addLayer(places);
        map.fitBounds(bbox);
    });
</script>
{% endblock %}